/*Классы меню*/
.menu-blue {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.menu-blue ul {
    display: flex;
    justify-content: start;
}
.menu-blue li {
    margin: 0 10px 0 0;
    list-style: none;
}
.menu-blue li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #3e92cc;
    transition: border 0.7s ease-in-out,
                background-color 0.7s ease-in-out,
                color 0.7s ease-in-out;
}
.menu-blue li a:hover{
    color: #000;
    border-bottom: 3px solid #3e92cc;
    background-color: #fff;
}