<!DOCTYPE html>
<html>
    <head>
	<title>Обучающий вебинар по платформе | Webinar.ru</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="Приглашаем вас посетить обучающий вебинар по работе c нашей платформой. Будут
рассмотрены основные возможности сервиса и личного кабинета.">
        <meta name="viewport" content="width=device-width">
        <meta name="SKYPE_TOOLBA" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="index, follow" />
        <meta name="yandex-verification" content="b187e7c89dd42fdb" />

        <meta property="og:image" content="" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />

                <!--<script src="/themes/webinar-main/assets/javascript/jquery-1.11.3.min.js"></script>-->
	<!--<script src="https://webinar.ru/combine/643ac4a7f028b4c28eae26a893cabd02-1519746140"></script>-->

	<!--<script src="/themes/webinar-main/assets/javascript/bpm/crleed.js"></script> -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
        <link rel="apple-touch-icon" sizes="57x57" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://webinar.ru/themes/webinar-main/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/manifest.json">
        
	        <link href="https://webinar.ru/combine/8b035dd223f32e6e80ae6d4c27140704-1518523215" rel="stylesheet">
	
	<link href="https://webinar.ru/themes/webinar-main/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">        <link href="https://webinar.ru/themes/webinar-main/assets/css/live.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- Google Tag Manager -->
          <noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MZFKJ2" height="0" width="0" style="display:none; visibility:hidden"></iframe>
</noscript>
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MZFKJ2');
</script>        <!-- End Google Tag Manager -->

        <!--DataLayer for Criteo (Homepage)-->
        <script>
            dataLayer.push({
                'PageType': 'Homepage',
                'HashedEmail': '#HASHED EMAIL#',
            });
        </script>
        <!--End DataLayer for Criteo (Homepage)-->
        
        <!-- Main wrapper -->
        <section class="wrapper">
            
            <!-- Header -->
            <header class="header _compact _for-demo-page">
                <div class="header-bottom">
  <div class="header-inner fw">
    <div class="logo">
      <a  href="https://webinar.ru/" class="logo-link">
        <span class="logo-link__icon">
          <div class="js-svg-logo svg-logo"></div>
        </span>
        <span class="logo-link__title">Webinar</span>
      </a>
      <span class="logo-description">Создаем новые стандарты коммуникаций</span>
    </div>
    <a  href="https://webinar.ru/" class="header-back-link">На главную</a>
  </div>
</div>            </header>
            
            <!-- Page content -->
            <section class="base-content">
                <section class="demo-webinar">
  <div class="demo-webinar-events">
    <div class="event-info-list js-demo-webinar-events">
      <div style="background-image:url(/storage/app/media/events/picture/event-2.jpg)" class="demo-webinar-event">
        <div class="demo-webinar-event-wrapper">
          <div class="demo-webinar-event-inner">
            <div class="demo-webinar-event-content">
              <div class="demo-webinar-choice-date js-demo-webinar-choice-date">
                <div class="demo-webinar-selected-date">
                  <div class="demo-webinar-date">
		    Дни проведения: понедельник, среда, пятница.<br>
		    Ближайший:
                    5 марта, 13:00-14:00 MSK
                  </div>
                </div>
              </div>
              <div class="event-info__title h2">Обучающий вебинар по платформе</div>
              <div class="event-info__description inner-title-description">
                <p>Коллеги, будем рады видеть вас на демонстрационном вебинаре компании Webinar.</p><p>На вебинаре мы рассмотрим:</p><p>— последние изменения и тенденции отрасли;</p><p>— основные критерии выбора вебинарной платформы;</p><p>— ключевые функции платформы Webinar.</p><p>Также мы ответим на ваши вопросы по работе с платформой.</p><p>Каждый участник вебинара получит в подарок методичку «Вебинар на 100%» с полезными советами для вебинаристов.</p>
              </div>
              <div class="event-info__leading-wrapper">
                <div class="event-info__leading">
                  <div class="event-info-leading__avatar">
                    <img src="/storage/app/media/events/host_photo/Diana.png" alt="">
                  </div>
                  <div class="event-info-leading__name">
                    Ведущий:<br>Диана <span>Дымолазова</span>
                  </div>
                </div>
                <div class="event-info__leading-post">Руководитель Webinar Academy</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
	.demo-webinar-order .order-form__dop-info {position: relative; padding-bottom: 20px;}
	.demo-webinar-order {position: fixed; overflow-y: auto; z-index: 99;}
	@media (max-width: 1024px) {
		.demo-webinar-order {
		    position: relative;
		    width: 100%;
		    padding: 14% 17%;
		}
	}
</style>
  <div class="demo-webinar-order js-demo-vebinar-form">
    <div class="demo-webinar-order-inner">
      <div class="demo-webinar-order-title">Запишитесь на вебинар бесплатно</div>
	<div class="ajax-loading"></div>
        <form id="webinarforconductors" event_name="zayavka-web01-zapis-na-webinar" method="post" class="reg" name="webinarforconductors" redirect_url="">
            {% csrf_token %}
            <div class="order-form__field length_validator">
                {{form.first_name}}
                <!--<div id="first_name_webinarforconductors_error" class="field-error-message">Это поле не может быть пустым</div>-->
            </div>
            <div class="order-form__field length_validator">
                {{form.last_name}}
                <div id="secondName-error" class="field-error-message">Это поле не может быть пустым</div>
            </div>
            <!--<div class="order-form__field ">-->
                <!--{{form.company}}-->
            <!--</div>-->
            <div class="order-form__field email_validator">
                {{form.email}}
                <div id="email-error" class="field-error-message">Адрес электронной почты содержит ошибки</div>
            </div>
            <!--<div class="order-form__field phone_validator">-->
                <!--{{form.phone}}-->
                <!--<div id="phone-error" class="field-error-message">Введите номер в международном формате, например: +7...</div>-->
            <!--</div>-->
            <!--<div class="order-form__field radio_validator">-->
                <!--<label class="label-placeholder-fixed">Вы планируете проводить вебинары?</label>-->
                <!--<input id="conduct_webinars_yes_webinarforconductors" type="radio" value="Да" name="conduct_webinars" class="inp-radio"> <label class="label-for-input" for="conduct_webinars_yes_webinarforconductors">Да</label> &nbsp;-->
                <!--<input id="conduct_webinars_no_webinarforconductors" type="radio" value="Нет" name="conduct_webinars" class="inp-radio"> <label class="label-for-input" for="conduct_webinars_no_webinarforconductors">Нет</label>-->
		<!--<input class="radio-hidden-input" id="conduct_webinars_webinarforconductors" type="hidden" />-->
                <!--<div id="conductWebinars-error" class="field-error-message">Необходимо выбрать Да или Нет</div>-->
            <!--</div>-->
            <!--<div class="order-form__field">-->
                <!--<label class="label-placeholder-fixed">Выберите удобную дату вебинара</label>-->
		<!--<select class="select-date" id="demowebinar_time_webinarforconductors">-->
						<!--<option value="2018-03-05-13-00">Пн 05/03/2018 13:00-14:00 MSK</option>-->
						<!--<option value="2018-03-07-13-00">Ср 07/03/2018 13:00-14:00 MSK</option>-->
					<!--</select>-->
            <!--</div>-->



            <div class="order-form__submit">
                <!--<input id="fio_webinarforconductors" type="hidden" name="fio" class="inp-text">-->
                <!--<input id="sendpulse_list_id_webinarforconductors" type="hidden" name="sendpulse_list_id" value="1070914" class="inp-text">-->

                <!--<a  id="send-webinarforconductors" href="javascript:;" class="btn _white ">Записаться на вебинар</a>-->
                <button type="submit">Записаться на вебинар</button>
        <!--<form method="post">-->
            <!--{% csrf_token %}-->
            <!--{{form.as_p}}-->
            <!--{{form.first_name}}-->
            <!--{{form.last_name}}-->
            <!--{{form.email}}-->
            <!--{{form.company}}-->
            <!--{{form.phone}}-->
            <!--<button type="submit">Записаться</button>-->
        <!--</form>-->

                <div class="order-form__dop-info">
			Нажимая на кнопку «Записаться на вебинар», вы 
						соглашаетесь на&nbsp;<a target=_blank  href="https://webinar.ru/legal/private-agreement-soft.pdf" class="nowrap">обработку персональных данных</a></div>
            </div>
        </form>
	<!--<script>-->
		<!--form_template.initForm('webinarforconductors', ['registerOnWebinar', 'createBPMLead', 'addToSendPulseList', 'sendEvents', 'hideFormAndShowSuccessMessage']);-->
	<!--</script>-->

      <div id="webinarforconductors-success-message" class="try-form-alert">
        <div class="try-form-alert__table">
          <div class="try-form-alert__cell">Вы зарегистрированы!
            <div class="text">В ближайшее время мы вышлем вам на почту подтверждение регистрации.</div>
          </div>
        </div>
      </div>

      <div id="webinarforconductors-error-message" class="try-form-alert">
        <div class="try-form-alert__table">
          <div class="try-form-alert__cell">
            <div class="text">Похоже, Вы уже регистрировались на этот вебинар. Ссылка для входа придет Вам на почту за 15 минут до начала мероприятия.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>            </section>
            
            <!-- Global overlay -->
            <div id="global-overlay" class="global-overlay"></div>
            
        </section>

	<!-- Scripts -->
        <script src="https://webinar.ru/combine/d551851e8b920b892582789dc75aa12c-1512388590"></script>
        <script src="/modules/system/assets/js/framework.js"></script>
<script src="/modules/system/assets/js/framework.extras.js"></script>
<link href="/modules/system/assets/css/framework.extras.css" rel="stylesheet">
            </body>
</html>